---
# This configuration requires clang-format 8.0 or higher.
BasedOnStyle: Mozilla
AlignAfterOpenBracket: DontAlign
AlignOperands: false
AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None
BreakBeforeBraces: Allman
ColumnLimit: 100
SpaceAfterTemplateKeyword: true
Standard: Cpp11
StatementMacros:
- vtkAbstractTypeMacro
- vtkTypeMacro
- vtkGetObjectMacro
- vtkSetObjectMacro
- vtkCustomSetMacro
- vtkBaseTypeMacro
- vtkAbstractTemplateTypeMacro
- vtkAbstractTypeMacroWithNewInstanceType
- vtkStandardNewMacro
...
