[submodule "Plugins/VelodynePlugin"]
	path = Plugins/VelodynePlugin
	url = https://gitlab.kitware.com/LidarView/velodyneplugin.git
[submodule "Plugins/HesaiPlugin"]
	path = Plugins/HesaiPlugin
	url = https://gitlab.kitware.com/LidarView/HesaiPlugin.git
[submodule "Plugins/LivoxPlugin"]
	path = Plugins/LivoxPlugin
	url = https://gitlab.kitware.com/LidarView/livoxplugin.git
[submodule "Plugins/LeishenPlugin"]
	path = Plugins/LeishenPlugin
	url = https://gitlab.kitware.com/LidarView/leishenplugin.git
[submodule "Plugins/RobosensePlugin"]
	path = Plugins/RobosensePlugin
	url = https://gitlab.kitware.com/LidarView/robosenseplugin.git
[submodule "Plugins/OusterPlugin"]
	path = Plugins/OusterPlugin
	url = https://gitlab.kitware.com/LidarView/ousterplugin.git
