[submodule "Superbuild/lidarview-superbuild"]
	path = Superbuild/lidarview-superbuild
	url = https://gitlab.kitware.com/LidarView/lidarview-superbuild.git
[submodule "LVCore"]
	path = LVCore
	url = https://gitlab.kitware.com/LidarView/lidarview-core.git
	branch = master
[submodule "Plugins/VelodynePlugin"]
	path = Plugins/VelodynePlugin
	url = https://gitlab.kitware.com/LidarView/velodyneplugin.git
[submodule "Plugins/pclplugin"]
	path = Plugins/pclplugin
	url = git@gitlab.kitware.com:paraview/pclplugin.git
[submodule "Plugins/TreeSegPlugin"]
	path = Plugins/TreeSegPlugin
	url = git@gitlab.kitware.com:keu-computervision/treesegplugin.git
