[submodule "LVCore"]
	path = LVCore
	url = https://gitlab.kitware.com/LidarView/lidarview-core.git
	branch = master
[submodule "Plugins/VelodynePlugin"]
	path = Plugins/VelodynePlugin
	url = https://gitlab.kitware.com/LidarView/velodyneplugin.git
[submodule "Plugins/HesaiPlugin"]
	path = Plugins/HesaiPlugin
	url = https://gitlab.kitware.com/LidarView/HesaiPlugin.git
